<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title><%= title || '선웅이 옷가게' %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <!-- Header -->
  <%- include('../layout/header') %>

  <!-- Page Body -->
  <main class="container">
    <%- body %>
  </main>

  <!-- Footer -->
  <%- include('../layout/footer') %>
</body>
</html>
